.table{
    border-radius: 5px;
    border-color: midnightblue;
}
.tr{
    border-radius: 5px;
    border-color: midnightblue;
}
.td{
    border-radius: 5px;
    border-color: midnightblue;
}
.thead{
    border-radius: 5px;
    border-color: midnightblue;
}
.tbody{
        border-radius: 5px;
        border-color: midnightblue;

}